.thumbnail{
    /*the cover function lets you adjust height and width without changing the shape of image*/
    width: 285px;
    display: block;
    /*height: 285px;*/
    /*object-fit: cover;*/
    /*you can also set images to the left or right to view either or*/
    /*object-position: left;*/
    /*contain shrinks the image till it fits inside meaning that it may not cover the whole area*/
    /*object position can move the object around inside of the border*/
    /*object-fit: contain;*/
}

.search-bar{
    margin-left: 12px;
    display: block;
}

.video-title{
    width: 300px;
}

.video-preview{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.practice{
    background-color: rgb(51, 51, 51);
    display: inline-block;
    padding-left: 15px;
    padding-right: 20px;
    width: 450px;
    height: 200px;
}

.tit{
    color: white;
    font-size: 24px;
    font-family: Arial;
    font-weight: bold;
}

.sub{
    color: grey;
    font-size: 20px;
    font-family: Arial;
}

/*Doing it this way lets you assign multiple classes to one chunk of code*/
/*.video-author,
.video-stats{
    
}*/

/*.survey{
    display: inline-block;
    width: 200px;
    vertical-align: middle;
}*/

/*
.google{
    display: block;
    width: 200px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.google-search{
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    width: 500px;
    border-radius: 30px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}
*/